.env
aoe-back/.env
aoe-front/.env
aoe-back/node_modules/*
aoe-front/node_modules/*
*.parquet
aoe-back/data/matches.parquet
aoe-back/data/players.parquet
aoe-front/cypress/screenshots
aoe-back/matches_update/chunker.py
*eslintrc.js