name: Main flow

on:
  push:
    branches:
      - master

jobs:
  test_pipeline:
    runs-on: ubuntu-20.04
    env:
      TEST_MONGODB_URI: ${{secrets.TEST_MONGODB_URI}}
      MONGODB_URI: ${{secrets.TEST_MONGODB_URI}}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Back install
        working-directory: ./aoe-back
        run: npm install
      - name: Tests
        working-directory: ./aoe-back
        run: npm run test
        shell: bash
      - name: Check test results
        run: |
          # This step will fail the workflow if any tests failed
          if [ $? -ne 0 ]; then
            echo "Tests failed. Failing the workflow."
            exit 1
          fi
      - name: Install dependencies front
        working-directory: ./aoe-front
        run: npm install
      - name: e2e tests
        uses: cypress-io/github-action@v5
        with:
          working-directory: ./aoe-back
          command: npm run test:e2e
          start: npm run start_test, npm run start_front
          wait-on: http://localhost:3000
      - name: Deploy app
        if: ${{ github.event_name == 'push' && contains( github.event.head_commit.message, '#deploy') }}
        working-directory: ./bloglist-back
        run: |
          npm run getbuild
          flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
